@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "moon";
  src:
    url("/fonts/Moon-Walk.woff2") format("woff2"),
    url("/fonts/Moon-Walk.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src:
    url("/fonts/Archivo_Condensed-Regular.woff2") format("woff2"),
    url("/fonts/Archivo_Condensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src:
    url("/fonts/Archivo_Condensed-Bold.woff2") format("woff2"),
    url("/fonts/Archivo_Condensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src:
    url("/fonts/Archivo_Condensed-Medium.woff2") format("woff2"),
    url("/fonts/Archivo_Condensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src:
    url("/fonts/Archivo_Condensed-SemiBold.woff2") format("woff2"),
    url("/fonts/Archivo_Condensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src: url("/fonts/Archivo_Condensed-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src: url("/fonts/Archivo_Condensed-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src: url("/fonts/Archivo_Condensed-Thin.ttf");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src: url("/fonts/Archivo_Condensed-Black.ttf");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src: url("/fonts/Archivo_Condensed-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src: url("/fonts/Archivo_Condensed-Italic.ttf");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src: url("/fonts/Archivo_Condensed-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src: url("/fonts/Archivo_Condensed-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src: url("/fonts/Archivo_Condensed-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src: url("/fonts/Archivo_Condensed-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src: url("/fonts/Archivo_Condensed-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src: url("/fonts/Archivo_Condensed-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src: url("/fonts/Archivo_Condensed-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "activo";
  src: url("/fonts/Archivo_Condensed-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Prevent default scrolling behavior when inside Products component */
html.no-scroll {
  overflow: hidden;
}

/* Prevent text selection during drag */
.no-select {
  user-select: none;
}

/* Animation for fading in content */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}
